---
title: OUR TEAM
---

<div class="team text-center padded">
	<h3>Our team</h3>
	<ul class="list-inline">
		<li><img src="images/china.jpg" alt="china" class="img-circle" width="338px" height="301px">
		<h3>China</h3>
		</li>
		<li><img src="images/gruik.jpg" alt="gruik" class="img-circle" width="350px">
		<h3>Gruik</h3>
		</li>
		<li><img src="images/relou.jpg" alt="Relou" class="img-circle" width="320px">
		<h3>Relou</h3>
		</li>
	</ul>
</div>